*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    height: 370px;
    width: 520px;
    background-color: rgb(90, 118, 90);
    border: 2px black solid;
font-family: sans-serif;
padding-top: 30px;
padding-left: 18px;
border-radius: 15px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Temperature-icon{
    font-size: 25px;
    color: white;

}

h1{
    color:white;
    letter-spacing: 1.2px;
    font-size: 33px;
}

.celsius,.farenheit,.kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
   
}

input{
    height: 40px;
    width: 450px;
    border: 2px black solid;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgb(119, 180, 144);
    font-weight: 600;
    cursor: pointer;
}

.celsius-icon,.farenheit-icon,.kelvin-icon{
    font-size: 25px;
    color: white;
padding-left:5px;
}

button{
    height: 40px;
    width: 300px;
    border: 2px black solid;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
    transition-delay: 0.1s;
}

button:hover{
    color: rgb(0, 0, 0);
    background-color:rgb(96, 180, 130);
}